#queuePanel {
  position: fixed;
  bottom: 80px;
  right: 0;
  width: 30%;
  background-color: rgba(0, 0, 0);
  border-top : 2px white solid;
  border-left: 2px white solid;
  border-radius: 12px 0;
  color: white;
  padding: 10px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  text-align: start;
  font-family: "Source Code Pro", sans-serif;
  letter-spacing: -2px;
  font-style: normal;
  font-weight: 200;
}

#queuePanel ul {
  list-style-type: none;
  font-size: 1.1rem;
  padding: 0px 6px;
}

#queuePanel li {
  cursor: pointer;
  padding: 4px;
  font-size: 16px;
  /* border-bottom: 2px solid #ccc; */
}

#queuePanel li:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

#queuePanel .hide {
  display: none !important;
}
