#place-map {
  display: flex;
  position: relative;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  --wails-draggable: no-drag;
  height: 100%;
  max-height: 60%;
}

/* hide the attribution link below the map */
.mapboxgl-ctrl-bottom-right {
  display: none !important;
}
