#player {
  display: flex;
  align-items: center; /* Centers items vertically */
  justify-content: space-around; /* Spreads out the items */
  padding: 0 20px; /* Add padding on the sides */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 96%;
  height: 80px;
  background-color: #000000;
}

#songName {
  font-size: 1.1rem;
  width: 20%; /* Adjust width as needed */
  overflow: hidden;
  white-space: nowrap;
  color: white;
  font-family: "Chakra Petch", sans-serif;
  font-style: normal;
  font-weight: 400;
}

#songName p:hover {
  animation-play-state: paused;
}

.scroll-text {
  animation: scrollLeft 16s linear infinite;
  display: inline-block;
  white-space: nowrap;
}

@keyframes scrollLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

#audioPlayer {
  /* Remove flex-grow and explicitly control the width if necessary */
  width: 64%; /* Example width, adjust as needed */
  order: 2; /* Ensures the audio player is positioned as the second item */
  margin-right: 36%;
}

.audioControls {
  display: flex;
  align-items: center;
  /* margin-right: 20px; Adjust margin for spacing */
}

.volume-control {
  -webkit-appearance: none;
  appearance: none;
  width: 200px; /* Ensures the input covers the entire width */
  height: 20px; /* Adjust height as needed */
  margin-top: 5px; /* Adjust margin as needed */
  background-color: #ddd; /* Background color of the volume control */
  border-radius: 5px; /* Border radius for rounded corners */
  position: relative;
}

.volume-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px; /* Width of the slider thumb */
  height: 0px; /* Height of the slider thumb */
  background-color: #0e0e0f; /* Color of the thumb */
  border-radius: 0; /* Remove border radius */
  cursor: pointer;
}

.volume-control {
  -webkit-appearance: none;
  appearance: none;
  width: 120px; /* Ensures the input covers the entire width */
  height: 20px; /* Adjust height as needed */
  margin-top: 5px; /* Adjust margin as needed */
  /* background-color: #ddd; */
  background-color: #FDFF61;
  border-radius: 5px; /* Border radius for rounded corners */
  position: relative;
  cursor: pointer;

}

.volume-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px; /* Width of the slider thumb */
  height: 20px; /* Height of the slider thumb */
  background-color: #0e0e0f; /* Color of the thumb */
  border-radius: 0; /* Remove border radius */
  cursor: pointer;
}

.progress-control {
  -webkit-appearance: none;
  appearance: none;
  width: 40%; /* Ensures the input covers the entire width */
  height: 20px; /* Adjust height as needed */
  margin-top: 5px; /* Adjust margin as needed */
  background-color: #ddd; 
  background-color: #FDFF61;
  border-radius: 5px; /* Border radius for rounded corners */
  position: relative;
  cursor: pointer;

}

.progress-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px; /* Width of the slider thumb */
  height: 20px; /* Height of the slider thumb */
  background-color: #0e0e0f; /* Color of the thumb */
  border-radius: 0; /* Remove border radius */
  cursor: pointer;
}

.playPauseButton {
  width: 42px;
  height: 42px;
  /* color: rgb(211, 243, 7); */
  cursor: pointer;
}

.next-song-button {
  width: 42px;
  height: 42px;
  /* color: rgb(211, 243, 7); */
  cursor: pointer;
}

.toggle-queue-btn {
  cursor: pointer;
}