#player {
  display: flex;
  align-items: center; /* Centers items vertically */
  justify-content: space-around; /* Spreads out the items */
  padding: 0px 0px; /* Add padding on the sides */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  /* background-color: #000000; */
  background-color: #212120;

}

#songName p:hover {
  animation-play-state: paused;
}
.scroll-text {
  animation: scrollLeft 30s linear infinite; /* Increased duration */
  white-space: nowrap;
 }
 
 @keyframes scrollLeft {
  from {
     transform: translateX(50%); /* Adjusted starting position */
  }
  to {
     transform: translateX(-100%);
  }
 }
 
 #songName {
  font-size: 1.1rem;
  width: 30%; /* Increased width */
  overflow: hidden;
  white-space: nowrap;
  color: white;
  font-family: "Source Code Pro", sans-serif;
  letter-spacing: 2px;
  font-style: normal;
  font-weight: 400;
 }
 


.audioControls {
  display: flex;
  align-items: center;
  /* margin-right: 20px; Adjust margin for spacing */
}



.volume-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px; /* Width of the slider thumb */
  height: 0px; /* Height of the slider thumb */
  background-color: #0e0e0f; /* Color of the thumb */
  border-radius: 0; /* Remove border radius */
  cursor: pointer;
}

.volume-control {
  -webkit-appearance: none;
  appearance: none;
  width: 80px; /* Ensures the input covers the entire width */
  height: 20px; /* Adjust height as needed */
  margin-top: 5px; /* Adjust margin as needed */
  /* background-color: #ddd; */
  background-color: #bfc1c1;
  position: relative;
  cursor: pointer;
transform: rotate(-90deg);
}

.volume-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px; /* Width of the slider thumb */
  height: 44px; /* Height of the slider thumb */
  background-color: rgb(198, 15, 15); /* Color of the thumb */
  cursor: pointer;
  border-radius: 6px;
}

.progress-control {
  -webkit-appearance: none;
  appearance: none;
  width: 30%; /* Ensures the input covers the entire width */
  height: 20px; /* Adjust height as needed */
  margin-top: 5px; /* Adjust margin as needed */
  background-color: #bfc1c1;
  border-radius: 5px; /* Border radius for rounded corners */
  position: relative;
  cursor: pointer;

}

.progress-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 12px; /* Width of the slider thumb */
  height: 40px; /* Height of the slider thumb */
  background-color: black; /* Color of the thumb */
  cursor: pointer;
  border-radius: 6px;

}

.playPauseButton {
  width: 42px;
  height: 42px;
  /* color: rgb(211, 243, 7); */
  cursor: pointer;
}

.next-song-button {
  width: 42px;
  height: 42px;
  /* color: rgb(211, 243, 7); */
  cursor: pointer;
}

.toggle-queue-btn {
  cursor: pointer;
}